#s
{
position:absolute;
top:300px;
left:900px;
width=50px;
}
.strip
{
position:absolute;
left:50px;
top:90px;
width:94%;
height:10%;
background-color:brown;

}
.strip
{
position:absolute;
left:100px;
top:50px;
width:90%;
height:10%;
background-color:brown;
align:right;
}
.top
{
padding:10px;
font_family:Perpetua Titling MT;
text-decoration:none;
float:right;
color:white;
font-size:23px;
}
#a
{overflow:hidden;
font_family:Script MT;
color:white;
}
#tab
{
position:absolute;
top:200px;
left:700px;

}
#he
{
position:absolute;
top:140px;
left:800px;

}
p{
position:absolute;
top:350px;
left:800px;
font-size:23px;
}

img
{
position:absolute;
left:100px;
top:170px;
}

#f
{
position:absolute;
left:100px;
top:850px;
width:50%;
height:70%;
color:white;
background-color:brown;
font-size:23px;

}
#f1
{
position:absolute;
right:100px;
top:850px;
width:35%;
height:70%;
color:white;
background-color:brown;
}
#foot
{
position:absolute;
left:100px;
top:1550px;
width:90%;
height:18%;
background-color:brown;
}
#i
{position:absolute;
left:100px;
top:850px;
width:45%;
height:70%;
}
#ic
{position:absolute;
left:650px;
top:100px;
border-radius:50%;

}
#icc
{position:absolute;
left:650px;
top:50px;


}
#fra
{
position:absolute;
left:100px;
top:200px;
width:42%;
height:70%;
color:white;
background-color:brown;
}
#fram
{
position:absolute;
right:100px;
top:200px;
width:45%;
height:80%;
color:white;
background-color:brown;
}
#foote
{
position:absolute;
left:100px;
top:1000px;
width:90%;
height:18%;
background-color:brown;
}
#ab
{
position:absolute;
left:100px;
top:200px;
width:90%;
height:50%;

background-color:brown;

}
.fon
{
font_family:Perpetua Titling MT;
font-size:23px;
color:white;
}
#footer
{
position:absolute;
left:100px;
top:750px;
width:90%;
height:18%;
bottom:0%;
background-color:brown;
}
#footer1
{
position:absolute;
left:100px;
top:700px;
width:90%;
height:18%;
bottom:0%;
background-color:brown;
}
#fin
{position:absolute;
left:700px;
top:150px;
}
#fin1
{
position:absolute;
left:600px;
top:250px;
}
